body, html {
    height: 100%;
    background: #000;
}

#city {
    background: #000 url("../assets/img/city.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'pixel';
    src: url('../assets/font/pixel-webfont.eot');
    src: url('../assets/font/pixel-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/pixel-webfont.woff2') format('woff2'),
    url('../assets/font/pixel-webfont.woff') format('woff'),
    url('../assets/font/pixel-webfont.ttf') format('truetype'),
    url('../assets/font/pixel-webfont.svg#pixel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes color-change {
    0%, 100%  { color: #E8142C; }
    50% { color: #efc853; }
}
@-moz-keyframes color-change {
    0%, 100% { color: #E8142C; }
    50% { color: #efc853; }
}
@-ms-keyframes color-change {
    0%, 100% { color: #E8142C; }
    50% { color: #efc853; }
}
@-o-keyframes color-change {
    0%, 100% { color: #E8142C; }
    50% { color: #efc853; }
}
@keyframes color-change {
    0%, 100% { color: #E8142C; }
    50% { color: #efc853; }
}

.blink {
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

.drunk {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

#overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    position: absolute;
    z-index: 50;
}

#game{
    height: 512px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -256px 0 0 -400px;
}

#highscore{
    height: 512px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background:url("../assets/img/highscore.png") no-repeat 0 0;
    z-index: 2;
}

#highscore h1,
#highscore p {
    position: relative;
    width: 168px;
    margin-bottom: -30px;
    text-align: center;
    font-family: pixel, "Courier New", Courier, monospace;
}

#highscore h1 {
    margin-top: 52px;
    font-size: 1.4em;
}

#highscore p {
    margin-top: 40px;
    font-size: 2em;
}
#highscore ul {
    position: relative;
    margin-top: 40px;
    text-align: right;
    padding-right: 70px;
    z-index: 10;
}



#sound {
    position: absolute;
    background:url("../assets/img/mute.png") no-repeat 0 0;
    width: 31px;
    height: 31px;
    cursor: pointer;
}
.mute #sound {
    background-position: center -31px;
}

#menu {
    background: url('../assets/img/startscreen.png') no-repeat;
    height: 583px;
    width: 1099px;

    position: absolute;
    left: -38px;
    top: -69px;
    z-index: 11;
}
#menu a {
    display: block;
    width: 213px;
    height: 63px;
    top: 358px;

    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#menu #start {
    background: url('../assets/img/startgame.png') no-repeat;
    float: none;
    height: 83px;
    width: 456px;
    margin: 0;

    left: 80px;
}
#menu #showranking {
    background: url('../assets/img/top20.png') no-repeat;
    float: left;
    margin: 20px 30px 0 80px;

}
#menu #showcredits {
    background: url('../assets/img/credits.png') no-repeat;
    margin-top: 20px;
}
#menu a:hover {
    background-position: center -63px !important;
}
#menu #start:hover {
    background-position: center -83px !important;

}

#gameover {
    background: url('../assets/img/hangover.png') no-repeat;
    height: 516px;
    width: 1080px;

    font-family: pixel, "Courier New", Courier, monospace;
    font-size: 2em;
    color: #fff;

    position: absolute;
    left: -38px;
    top: 0px;
}

#gameover a,
#gameover p,
#gameover form {
    left: 340px;
    position: relative;

    text-align: left;
    white-space: nowrap;
}

#gameover a {
    clear: both;
    display: block;
    background: url('../assets/img/restart.png') no-repeat;
    height: 63px;
    width: 340px;
    top: 250px;

    text-indent: -9999px;
}

#gameover #displayranking {
    background: url('../assets/img/top20.png') no-repeat;
    width: 213px;
    top: 18px;
    left: 72px;
}

#gameover a:hover {
    background-position: center -63px !important;
}

#gameover p {
    position: absolute;
    top: 156px;
    line-height: 2;
    width: 580px;
    text-transform: uppercase;
}

.ranking li {
    position: relative;
    width: 100%;
}

.ranking li span {
    background: #141A10;
    padding-left: .5rem;
    color: inherit;
    position: absolute;
    right: 0;
    text-align: right;
}

#gameover form {
    top: 210px;
    width: 400px;
}

#gameover h2 {
    line-height: 2;
    color: #E8142C;
    text-transform: uppercase;
}

#gameover span {
    line-height: 1.2;
}

#position,
#nametag {
    padding: 6px 0 8px 0;
    float: left;
}

#position {
    width: 50px;
}

::-webkit-input-placeholder {
    color:    #C5C1C2;
}
:-moz-placeholder {
    color:    #C5C1C2;
    opacity:  1;
}
::-moz-placeholder {
    color:    #C5C1C2;
    opacity:  1;
}
:-ms-input-placeholder {
    color:    #C5C1C2;
}
:placeholder-shown {
    color:    #C5C1C2;
}

#gameover input {
    float: left;

    background: #000;
    color: #FFF;
    font-family: pixel, "Courier New", Courier, monospace;
    font-size: 2rem;
    line-height: 1.2;

    border: 3px solid #efc853;
    border-right: none;
    padding-left: .4em;
    width: 261px;
    height: 43px;
}

#gameover button {
    float: left;
    position: relative;
    left: -37px;
    height: 51px;
    width: 49px;
    background: transparent url('../assets/img/arrow.png') no-repeat;

    border: none;
    cursor: pointer;
}

#gameover button.active {
    background-position: center -51px;
}

#gameover input.active {
    border: 3px solid #E3A522;
}

#gameover #right {
    position: absolute;
    width: 358px;
    height: 400px;
    right: 10px;
    top: 140px;
}

#top5 {
    padding: 0 40px 0 35px;
}

#top5 li {
    line-height: 1.3;
}

#top5 li span {
    background: #151B11;
    padding-left: .5rem;
}


#credits,
#ranking {
    background: #141A10;
    border: 8px solid #0D4393;
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -228px;
    width: 360px;
    height: 500px;
    padding: 0 40px;

    color: #FFF;
    font-family: pixel, "Courier New", Courier, monospace;
    font-size: 2rem;
    line-height: 1.2;

    z-index: 60;
}

#ranking {
    width: 700px;
    margin-left: -398px;
}

#credits h2,
#ranking h2 {
    color: #BD326D;
    font-size: 3rem;
    line-height: 2em;
    text-align: center;
}

.close {
    position: absolute;
    right: 40px;
    top: 30px;
    display: block;
    background: url('../assets/img/close.png') no-repeat;
    height: 20px;
    width: 20px;
    text-indent: -9999px;
}
.close:hover {
    background-position: center -20px;
}
#top20 {
    height: 24rem;
}

#top20 ul {
    width: 310px;
    float: left;
}
#top20 ul:first-child {
    padding-right: 80px;
}

#credits ul {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
}

ul:first-child li:first-child {
    color: #EF5B9A;
}

.display {
    visibility: visible;
    z-index: 40;
}

.block {
    display: block;
    z-index: 40;
}

.none {
    display: none;
    z-index: 1;
}

.hide {
    visibility: hidden;
    z-index: 1;
}

.chilliRed{
    color: #940000;
}
.beerGreen{
    color: #022C03;
}
.jeTaimePink{
    color: #BF358C;
}


canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* MediaQuerys */

@media screen and (max-width: 1220px) {

    body{
        background-position: calc(50% - 100px) center;
    }

    #game{
        margin-left: -500px;
    }

}