body{
    background:url("../assets/img/city.jpg") no-repeat center center fixed;
}

@font-face {
    font-family: 'pixel';
    src: url('../assets/font/pixel-webfont.eot');
    src: url('../assets/font/pixel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/pixel-webfont.woff2') format('woff2'),
         url('../assets/font/pixel-webfont.woff') format('woff'),
         url('../assets/font/pixel-webfont.ttf') format('truetype'),
         url('../assets/font/pixel-webfont.svg#pixel') format('svg');
    font-weight: normal;
    font-style: normal;
}

#game{
    height: 512px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -256px 0 0 -400px;
}

#highscore{
    height: 512px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background:url("../assets/img/highscore.jpg") no-repeat 0 0;
    z-index: 2;
}

    #highscore h1, p{
        position: relative;
        width: 168px;
        margin-bottom: -30px;
        text-align: center;
        font-family: pixel;
    }

    #highscore h1{
        margin-top: 50px;
        font-size: 1.4em;
    }

    #highscore p{
        margin-top: 40px;
        font-size: 2em;
    }

    #gameover{
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    #infobox{
        position: relative;
        top: 50%;
        left: 50%;
        width: 600px;
        height: 650px;
        margin: -300px 0 0 -300px;
        text-align: center;
    }

        #gameover h1, #gameover h2, #gameover table, #gameover a{
            text-align: left;
            position: relative;
            width: 100%;
            font-family: pixel;
            font-size: 2.5em;
            color: #fff;
        }
            #gameover table{
                /* Für Highscorespeicherung */
                display: none;
                margin-bottom: 30px;
            }

                #gameover th{
                    height: 50px;
                }

                #gameover td{
                    height: 50px;
                }

        #gameover h1, #gameover h2{
            text-align: center;
        }

        #gameover h1 {
            font-size: 6em;
        }

        #gameover h2 {
            margin-bottom: 30px;
        }

        #gameover a{
            text-decoration: none;
            font-size: 3em;
        }

    .display{
        display: block;
    }

    .hide{
        display: none;
    }

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* MediaQuerys */

@media screen and (max-width: 1220px) {

    body{
        background-position: calc(50% - 100px) center;
    }

    #game{
        margin-left: -500px;
    }

}