body{
    background:url("../assets/img/city.jpg") no-repeat center center fixed;
}

@font-face {
    font-family: 'pixel';
    src: url('../assets/font/pixel-webfont.eot');
    src: url('../assets/font/pixel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/pixel-webfont.woff2') format('woff2'),
         url('../assets/font/pixel-webfont.woff') format('woff'),
         url('../assets/font/pixel-webfont.ttf') format('truetype'),
         url('../assets/font/pixel-webfont.svg#04b25regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#game{
    height: 512px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -256px 0 0 -400px;
}

#highscore{
    height: 512px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background:url("../assets/img/highscore.jpg") no-repeat 0 0;
    z-index: 2;
}

    #highscore h1, p{
        position: relative;
        width: 168px;
        margin-bottom: -30px;
        text-align: center;
        font-family: pixel;
    }

    #highscore h1{
        margin-top: 50px;
        font-size: 1.4em;
    }

    #highscore p{
        margin-top: 40px;
        font-size: 2em;
    }

canvas{
    position: absolute;
    /*margin: -256px 0 0 -400px;*/
    top: 0;
    left: 0;
    z-index: 10;
}

/* DEBUG */
pre {
    display: none;
    /*background: #fff;*/
}